body { padding-top: 70px; }

div #usbank-summary .panel-heading {
  color: blue;
}

div #visab2b-summary .panel-heading {
  color: red;
}

#coin-dollar {
  padding-right: 5px;
};

#credit-card svg{
  padding-right: 5px;
  padding-left: 5px;
}
